p{
    border: 3px dotted gray;
    background-color: aqua;
    padding: 3px;
}
div{

    border: 3px dotted black;
    background-color: bisque;
    font-size: large;
    margin: 3px;
}
span{
    border: 3px dashed blue;
    background-color: brown;
    font-size: large;
    margin: 1px;


}